name: Build latest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Build
      run: ./build.sh
      env:
        REPO: https://github.com/SoftEtherVPN/SoftEtherVPN_Stable
        BRANCH: master
        COMMIT: "-"
